<%- include('partials/header'); %>

<div class="container">
    <div class="row text-center" style="display: flex; flex-wrap: wrap;">
        <% parsedData["Search"].forEach(function(movie){ %>
            <div class="col-md-3 col-sm-6">
                <div class="thumbnail">
                    <img src="<%= movie["Poster"] %>" >
                    <div class="caption">
                        <h4><%= movie["Title"] %></h4>
                    </div>
                    
                </div>
                <form action="/moreinfo" method="GET">
                    <button name="imdbID" type="submit" value="<%= movie["imdbID"] %>" class="btn btn-primary" >More info</button>
                </form>
                
            </div>
        <% });%>
    </div>
</div>

<%- include('partials/footer'); %>